/*****************/
/*! Base Styles  */
/*****************/
body {
  background: #ffffff;
  color: #222222;
  font: 87.5%/1.5 "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

@media (min-width: 38.75em) {
  body {
    font-size: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

p, ul, ol, article, form {
  margin: 0 0 1.5em 0;
}

ul, ol {
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

a {
  color: #176691;
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

a:active,
a:hover,
a:focus {
  color: #0d384f;
}

/**************/
/*!  Helpers  */
/**************/

/* Assistive Text */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible;
}

/************/
/*! Layout  */
/************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.container--small {
  max-width: 30em;
}

.container--medium {
  max-width: 38.75em;
}

.container--large {
  max-width: 60em;
}

.container--max {
  max-width: 71.25em;
}

/* Grid */
@media (min-width: 30em) {
  .sm-one-half {
    width: 50%;
    float: left;
    padding-left: 1.3889%;
    padding-right: 1.3889%;
  }

  .sm-one-half:nth-of-type(2n+3) {
    clear: left;
  }

  .sm-one-third {
    width: 33.3333%;
    float: left;
    padding-left: 1.3889%;
    padding-right: 1.3889%;
  }

  .sm-two-thirds {
    width: 66.6667%;
    float: left;
    padding-left: 1.3889%;
    padding-right: 1.3889%;
  }
}

@media (min-width: 60em) {
  .lg-one-third {
    width: 33.3333%;
    float: left;
    padding-left: 1.3889%;
    padding-right: 1.3889%;
  }

  .lg-one-third:nth-of-type(2n+3) {
    clear: none;
  }

  .lg-one-third:nth-of-type(3n+4) {
    clear: left;
  }
}

/********************/
/*! Content Blocks  */
/********************/

/* Site Header */
.site-header {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #c4c4c4;
}

.site-header .container {
  position: relative;
  text-align: center;
}

@media (min-width: 38.75em) {
  .site-header .container {
    text-align: left;
  }

  .site-header__title {
    display: inline-block;
  }
}

/* Navigation */
[class$="-nav__list"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

[class$="-nav__item"] {
  display: inline-block;
}

[class$="-nav__link"] {
  display: block;
  padding: 2em 0.875em;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.0469em;
}

@media (min-width: 38.75em) {
  .primary-nav {
    position: absolute;
    top: 50%;
    right: 1.5em;
    display: inline-block;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/* Secondary Navigation */
.secondary-nav {
  padding: 1.5em 0;
  border-bottom: 1px solid #666666;
}

.secondary-nav__link {
  padding: 0.625em;
  color: #ffffff;
  letter-spacing: 0.0469em;
}

.secondary-nav__link:hover,
.secondary-nav__link:active,
.secondary-nav__link:focus {
  color: #ae9a1c;
}

/* Main */
main img {
  border-radius: 4px;
}

/* Sections */
.section {
  padding: 2em 0;
  border-bottom: 1px solid #c4c4c4;
}

.section__title {
  margin-bottom: 2em;
  text-align: center;
}

.section:nth-child(odd) {
  background: #f7f7f7;
}

/* Portfolio */
.portfolio__item {
  margin-bottom: 2.5em;
}

.portfolio__title {
  text-align: center;
}

/* About & Contact */
.about__media {
  margin-bottom: 1.5em;
}

.contact label {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.contact p:first-child {
  padding-left: 0;
}

.contact p:nth-child(2n) {
  padding-right: 0;
}

.contact input,
.contact textarea {
  padding: .625em;
  width: 100%;
}

.contact textarea {
  height: 10em;
  resize: vertical;
}

.contact button {
  background-color: #176691;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: .875em 1em;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: #ffffff;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.contact button:hover,
.contact button:active,
.contact button:focus {
  background-color: #0d384f;
}

/* Social */
.social {
  margin: 0;
  list-style: none;
  text-align: center;
}

.social__item {
  display: inline-block;
  padding: .5em;
}

.social__item img {
  width: 2em;
}

.social__item [src*="facebook"] {
  width: 1.1em;
}

/* Site Footer */
.site-footer {
  padding: 1.5em 0 0;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background: #222222;
  text-align: center;
}

.site-footer__credit {
  padding: 1.5em 0;
  color: #999999;
}

/************************/
/*!  JS/jQuery plugins  */
/************************/

/* Magnific Popup, Simple fade transition */
.mfp-fade.mfp-bg,
.mfp-fade.mfp-wrap .mfp-content,
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.mfp-fade.mfp-bg.mfp-ready,
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content,
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-fade.mfp-bg.mfp-removing,
.mfp-fade.mfp-wrap.mfp-removing .mfp-content,
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
